<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Default suite" guice-stage="DEVELOPMENT">
	<test thread-count="5" name="chrome test" verbose="2">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="runner.TesgNGTestRunner" />
		</classes>
	</test> <!--
	Default test -->
</suite> <!--
Default suite -->